@model List<Products>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}
<input type="hidden" id="hdnProductImageId"/>
<!-- Slider -->
<div class="tf-slideshow slider-style2 slider-effect-fade">
    <div dir="ltr" class="swiper tf-sw-slideshow" data-preview="1" data-tablet="1" data-mobile="1" data-centered="false" data-space="0" data-space-mb="0" data-loop="true" data-auto-play="false">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="wrap-slider">
                    <img src="~/content/images/slider/slider-fashion-cosmetic.jpg" alt="fashion-slideshow">
                    <div class="box-content">
                        <div class="container">
                            <div class="content-slider">
                                <div class="box-title-slider">
                                    <div class="fade-item fade-item-1 heading title-display text-white">Awaken Your <br> Natural Beauty</div>
                                    <p class="fade-item fade-item-2 body-text-1 text-white">Discover the secret to rejuvenating your skin, one gentle touch at a <br> time with our special collection of cosmetics.</p>
                                </div>
                                <div class="fade-item fade-item-3 box-btn-slider">
                                    <a href="shop-default-grid.html" class="tf-btn btn-fill btn-square btn-white"><span class="text">Shop Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="wrap-slider">
                    <img src="~/content/images/slider/slider-fashion-cosmetic2.jpg" alt="fashion-slideshow">
                    <div class="box-content">
                        <div class="container">
                            <div class="content-slider">
                                <div class="box-title-slider">
                                    <div class="fade-item fade-item-1 heading title-display text-white">Embrace Your <br> Radiance, Naturally</div>
                                    <p class="fade-item fade-item-2 body-text-1 text-white">Dive into our collection and uncover the power of your true skin!</p>
                                </div>
                                <div class="fade-item fade-item-3 box-btn-slider">
                                    <a href="shop-default-grid.html" class="tf-btn btn-fill btn-square btn-white"><span class="text">Shop Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="wrap-slider">
                    <img src="~/content/images/slider/slider-fashion-cosmetic3.jpg" alt="fashion-slideshow">
                    <div class="box-content">
                        <div class="container">
                            <div class="content-slider">
                                <div class="box-title-slider">
                                    <div class="fade-item fade-item-1 heading title-display text-white">Illuminate Your <br> Beauty, Naturally</div>
                                    <p class="fade-item fade-item-2 body-text-1 text-white">Let us guide you through a journey of skin transformation, from <br> confidence to radiance.</p>
                                </div>
                                <div class="fade-item fade-item-3 box-btn-slider">
                                    <a href="shop-default-grid.html" class="tf-btn btn-fill btn-square btn-white"><span class="text">Shop Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-pagination">
        <div class="container">
            <div class="sw-dots sw-pagination-slider type-circle white-circle-line justify-content-center"></div>
        </div>
    </div>
</div>
<!-- /Slider -->
<!-- Marquee -->
<section class="tf-marquee">
    <div class="marquee-wrapper">
        <div class="initial-child-container">
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">Free shipping on all orders over ₹1500</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">Returns are free within 14 days</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <!-- 2 -->
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">Free shipping on all orders over ₹1500</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">Returns are free within 14 days</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <!-- 3 -->
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">Free shipping on all orders over ₹1500</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">Returns are free within 14 days</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <!-- 4 -->
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">Free shipping on all orders over ₹1500</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">Returns are free within 14 days</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <!-- 5 -->
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">Free shipping on all orders over ₹1500</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">Returns are free within 14 days</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <!-- 6 -->
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">Free shipping on all orders over ₹1500</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
            <div class="marquee-child-item">
                <p class="text-btn-uppercase">Returns are free within 14 days</p>
            </div>
            <div class="marquee-child-item">
                <span class="icon icon-lightning-line"></span>
            </div>
        </div>
    </div>
</section>
<!-- /Marquee -->
<!-- Top picks -->
<section class="flat-spacing">
    <div class="container">
        <div class="heading-section text-center wow fadeInUp">
            <h3 class="heading">Top Picks</h3>
            <p class="subheading text-secondary">Fresh styles just in! Elevate your look.</p>
        </div>
        <div dir="ltr" class="swiper tf-sw-latest" data-preview="4" data-tablet="3" data-mobile="2" data-space-lg="30" data-space-md="30" data-space="15" data-pagination="1" data-pagination-md="1" data-pagination-lg="1">
            <div class="swiper-wrapper">
                @foreach (var product in Model)
                {
                    var productImage = product.ProductImages.FirstOrDefault();

                    <div class="swiper-slide">
                        <div class="card-product wow fadeInUp" data-wow-delay="0.1s">
                            <div class="card-product-wrapper">
                                <a asp-action="ProductDetails" asp-route-id="@productImage.ProductsImageId" class="product-img">
                                    <img class="lazyload img-product" data-src="@productImage.LargeImage" src="@productImage.LargeImage" alt="image-product">
                                    <img class="lazyload img-hover" data-src="@productImage.LargeImage" src="@productImage.LargeImage" alt="image-product">
                                </a>
                                @if(productImage.Discount > 0)
                                {
                                    <div class="on-sale-wrap"><span class="on-sale-item">-@productImage.Discount%</span></div>
                                }
                                @* <div class="list-product-btn">
                                    <a href="#quickView" data-bs-toggle="modal" class="box-icon quickview tf-btn-loading">
                                        <span class="icon icon-eye"></span>
                                        <span class="tooltip">Quick View</span>
                                    </a>
                                </div> *@
                                <div class="list-btn-main">
                                    <a href="#shoppingCart" data-bs-toggle="modal" class="btn-main-product">Add To cart</a>
                                </div>
                            </div>
                            <div class="card-product-info">
                                <a asp-action="ProductDetails" asp-route-id="@productImage.ProductsImageId" class="title link">
                                    @product.Name
                                </a>
                                @if(productImage.Discount > 0)
                                {
                                    <span class="price"><span class="old-price">₹@productImage.MRP</span> ₹@productImage.Price</span>
                                }
                                else
                                {
                                    <span class="price">₹@productImage.Price</span>
                                }
                                <ul class="list-color-product">
                                    @foreach (var item in product.ProductImages)
                                    {
                                        <li class="list-color-item color-swatch active line">
                                            <span class="swatch-value" style="background-color: @item.Color;"></span>
                                            <img class="lazyload" data-src="@item.LargeImage" src="@item.LargeImage" alt="image-product">
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="sw-pagination-latest sw-dots type-circle justify-content-center"></div>
        </div>
    </div>
</section>
<!-- /Top picks -->
<!-- Iconbox -->
<section class="flat-spacing line-top-container">
    <div class="container">
        <div dir="ltr" class="swiper tf-sw-iconbox" data-preview="4" data-tablet="3" data-mobile-sm="2" data-mobile="1" data-space-lg="30" data-space-md="30" data-space="15" data-pagination="1" data-pagination-sm="2" data-pagination-md="3" data-pagination-lg="4">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="tf-icon-box">
                        <div class="icon-box"><span class="icon icon-return"></span></div>
                        <div class="content text-center">
                            <h6>14-Day Returns</h6>
                            <p class="text-secondary">Risk-free shopping with easy returns.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="tf-icon-box">
                        <div class="icon-box"><span class="icon icon-shipping"></span></div>
                        <div class="content text-center">
                            <h6>Free Shipping Over ₹1500</h6>
                            <p class="text-secondary">No extra costs, just the price you see.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="tf-icon-box">
                        <div class="icon-box"><span class="icon icon-headset"></span></div>
                        <div class="content text-center">
                            <h6>24/7 Support</h6>
                            <p class="text-secondary">24/7 support, always here just for you</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="tf-icon-box">
                        <div class="icon-box"><span class="icon icon-sealCheck"></span></div>
                        <div class="content text-center">
                            <h6>Member Discounts</h6>
                            <p class="text-secondary">Special prices for our loyal customers.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sw-pagination-iconbox sw-dots type-circle justify-content-center"></div>
        </div>
    </div>
</section>
<!-- /Iconbox -->


@* <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    function QuickViewByProductImageId(ProductImageId){
        $.ajax({
            url: '/Home/QuickViewByProductImageId',
            type: 'GET',
            data: { productImageId: ProductImageId },
            success: function (response) {
                $("#productQuickView").html(response);
            },
            error: function () {
                alert("Failed to load product images.");
            }
        });
    }
</script> *@